@font-face{
    font-family: "proximanova";
    src: url(/fuentes/proximanova_bold.otf);
    font-weight: normal;
    font-style: normal;
}
* {
margin: 0;
padding: 0;    
border-collapse: collapse;
}

h1, h2{
    font-family: "proximanova";
    font-weight: bold;
}
p{
    font-family: "proximanova";
    font-weight: normal;
    font-size: 17px;
}
html, body {
  height: 100%;
  align-content: center;
  scroll-behavior: smooth;
  background-color: #ccc;
}
@keyframes fade-down{
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(-300px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) ;
    }
}
.tarjeta{
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    color: black;
    padding: 30px ;
    margin: 15px;
    border-radius: 5px;
    width: auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 5px 10px gray;
    animation: fade-down 0.5s;
    align-items:center;

}

.tarjeta2{
    background-color: #FFFFFF;
    color: black;
    padding: 30px ;
    margin: 15px;
    border-radius: 5px;
    width: auto;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 10px gray;
    animation: fade-down 0.5s;
    align-items:center;

}
header{
    animation: fade-up 1s;
}

.header{
    background-color: #fffb00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.bullets{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px;  
}

.recomendacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
    background-color: #FFF600;
    padding-bottom: 100px;
}

.elemento2{
    display: flex;
    align-content: baseline;
   
}
.GRAFICO1{
    display: flex;
    background-color: #3484FA;
    flex-direction:row;
    color: black;
    padding: 30px ;
    width: auto;
    height: 400px;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 5px 10px gray;
}
.GRAFICO2{
    display: flex;
    background-color: #3484FA;
    flex-direction:row;
    color: black;
    padding: 30px ;
    width: auto;
    height: 300px;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 5px 10px gray;
    align-content: end;
}
.GRAFICO3{
    display: flex;
    background-color: #3484FA;
    flex-direction:row;
    color: black;
    padding: 30px ;
    width: auto;
    height: 200px;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 5px 10px gray;
}
.GRAFICO4{
    display: flex;
    background-color: #3484FA;
    flex-direction:row;
    color: black;
    padding: 30px ;
    width: auto;
    height: 60px;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 5px 10px gray;
}
