@font-face{
    font-family: "proximanova";
    src: url(/fuentes/proximanova_bold.otf);
    font-weight: normal;
    font-style: normal;
}
* {
margin: 0;
padding: 0;    
border-collapse: collapse;
}

h1, h2{
    font-family: "proximanova";
    font-weight: bold;
}
p{
    font-family: "proximanova";
    font-weight: normal;
}
html, body {
  height: 100%;
  scroll-behavior: smooth;
  background-color: #ccc;
}
@keyframes fade-down{
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(-300px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) ;
    }
}

header{
    animation: fade-up 1s;
}
.header{
    background-color: #fffb00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.bullets{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
      background-color: #ccc;
   
}

.tarjeta1{
    background-color: #FFFFFF;
    color: black;
    padding: 30px ;
    width: auto;
    height: 50%;
    text-align: center;
    margin: 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px gray;
    animation: fade-down 0.5s;

}
.tarjeta2{
    background-color: #FFFFFF;
    color: black;
    padding: 30px ;
    width: auto;
    height: 50%;    
    text-align: center;
    margin: 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px gray;
    animation: fade-down 0.5s;

}
.tarjeta3{
    background-color: #FFFFFF;
    color: black;
    padding: 30px ;
    width: auto;
    height: 50%;
    text-align: center;
    margin: 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px gray;
    animation: fade-down 0.5s;

}
.tarjeta4{
    background-color: #FFFFFF;
    color: black;
    padding: 30px ;
    width: auto;
    height: 50%;
    text-align: center;
    margin: 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px gray;
    animation: fade-down 0.5s;

}
.tarjeta5{
    background-color: #FFFFFF;
    color: black;
    padding: 30px ;
    width: auto;
    height: 50%;
    text-align: center;
    margin: 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px gray;
    animation: fade-down 0.5s;

}
.tarjeta6{
    background-color: #FFFFFF;
    color: black;
    padding: 30px ;
    width: auto;
    height: 50%;
    text-align: center;
    margin: 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px gray;
    animation: fade-down 0.5s;

}

.tarjeta2-1{
    background-color: #FFFFFF;
    color: black;
    padding: 30px ;
    margin: 15px;
    border-radius: 5px;
    width: auto;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 10px gray;
    animation: fade-down 0.5s;
    align-items:center;

}

.recomendacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
    background-color: #FFF600;
    padding-bottom: 100px;
}
