/*globales*/
@font-face {
  font-family: "proximanova";
  src: url(/fuentes/proximanova_bold.otf);
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primario: #3484fa;
  --color-secundario: #fff600;
  --color-terciario: #ffffff;
  --color-cuartario: #000000;
  --fuente-principal: "Proxima Nova", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
    background-color: #E7E7E7;
}

body {
  padding-top: 10rem; 
}
h1,
h2,
h3, li {
  font-family: "proximanova";
  font-weight: bold;
}
p {
  font-family: "proximanova";
  font-weight: normal;
  font-size: 15px;
}
b {
  font-family: "proximanova";
  font-weight: bold;
  font-size: 17px;
}

.sidebar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff159;
  display: flex;
  flex-direction: column; /* ahora vertical */
  padding: 1rem 2rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.15);
  gap: 1rem; /* espacio entre filas */
}

/* Fila superior: logo + buscador */
.sidebar-top {
  display: flex;
  align-items: center;
  
  gap: 2rem;
}

/* Logo */
.sidebar .logo {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.sidebar .logo img {
  scale: 3rem;
}

/* Buscador */
.search-box {
  flex: 1;
  max-width: 60rem;
}

.search-box input {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-family: "proximanova", sans-serif;

}

/* Navegación abajo */
.sidebar nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.sidebar nav a {
  text-decoration: none;
  color: #a19100;
  font-weight: bold;
  font-size: 1.4rem;
  transition: color 0.2s;
  font-family: "proximanova", sans-serif;
}

.sidebar nav a:hover {
  color: #000;
}



@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.tarjeta {
  background-color: #ffffff;
  display: flex;
  color: black;
  padding: 30px;
  width: 300px;
  text-align: center;
  margin: 15px;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 5px 10px gray;
  animation: fade-down 0.5s;
}

/* ===== El límite y lo ético de la extracción de datos ===== */
.tarjetaRECOM {
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 50% 50%;
  color: black;
  padding: 30px;
  width: 300px;
  text-align: center;
  margin: 15px;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 5px 10px gray;
  animation: fade-down 0.5s;
}

.contenedorS1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 50px 0px 50px;

}

.contenido {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 500px 500px;
  color: black;
  padding: 30px;
  width: 90%;
  text-align: center;
  margin: 15px;
  border-radius: 20px;
  flex-direction: column;
  align-content: center;
  gap: 10%;
  box-shadow: 0px 5px 10px gray;
  animation: fade-down 0.5s;
}

.lado-derecho{
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  margin: auto;
  gap: 20px;
  align-content: center;
  align-items: end;
}

.GRAFICO1{
  padding: 30px;
  background-color: #3484fa;
  height: 500px;
  align-content: baseline;
  color:  #3484fa;;
}
.GRAFICO1:hover{

  background-color: #EBF3FF;
  border: solid #3484fa;
  height: 500px;
  align-content: baseline;
  color: #3484fa;
}

.GRAFICO2{
  padding: 30px;
  background-color: #3484fa;
  height: 400px;
  color: #3484fa;
}
.GRAFICO2:hover{
  background-color: #EBF3FF;
  border: solid #3484fa;
  height: 400px;
  align-content: baseline;
  color: #3484fa;
}
.GRAFICO3{
  padding: 30px;
  background-color: #3484fa;
  height: 300px;
  color: #3484fa;
}
.GRAFICO3:hover{
  padding: 30px;
  background-color: #EBF3FF;
  border: solid #3484fa;
  height: 300px;
  align-content: baseline;
  color: #3484fa;
}
.GRAFICO4{
  padding: 30px;
  background-color: #3484fa;
  height: 170px;
  color: #3484fa;
}
.GRAFICO4:hover{
  padding: 30px;
  background-color: #EBF3FF;
  border: solid #3484fa;
  height: 170px;
  align-content: baseline;
  color: #3484fa;
}
/* ===== ¿Para qué sirven mis datos? ===== */
.contenedorS2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 50px 0px 50px;
}
.gridS2{
  gap: 5px;
  display: grid;
  grid-template-columns: 50% 50%;
  
}
.contenidoS2 {
  background-color: #ffffff;
  display: flex;
  color: black;
  padding: 10px 20px 50px 20px;
  width: 90%;
  text-align: center;
  margin: 15px;
  border-radius: 5px;
  flex-direction: column;
  align-content: center;
  gap: 10%;
  box-shadow: 0px 5px 10px gray;
  animation: fade-down 0.5s;
}
.item1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid #ccc;

}
.item1HOVER{
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 595px;
  height: 188px;
  background-color: #2D3277;
  color: #ffffff;
  border-radius: 10px;
}
.item1HOVER:hover{
  opacity: 1;
  transition: all ease-in 0.2s;
}

.item2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid #ccc;
}
.item2HOVER{
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 118px;
  width: 595px;
  height: 188px;
  background-color: #2D3277;
  color: #ffffff;
  border-radius: 10px;
}
.item2HOVER:hover{
  opacity: 1;
  transition: all ease-in 0.2s;
}

.item3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid #ccc;
}
.item3HOVER{
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 595px;
  height: 188px;
  top: 520px;
  background-color: #FFE600;
  color: #000000;
  border-radius: 10px;
}
.item3HOVER:hover{
  opacity: 1;
  transition: all ease-in 0.2s;
}

.item4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid #ccc;
}
.item4HOVER{
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 595px;
  height: 188px;
  top: 520px;
  right: 118px;
  background-color: #FFE600;
  color: #000000;
  border-radius: 10px;
}
.item4HOVER:hover{
  opacity: 1;
  transition: all ease-in 0.2s;
}

.item5{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid #ccc;
  
}
.item5HOVER{
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 595px;
  height: 188px;
  top: 715px;
  border-radius: 10px;
  background-color: #3484FA;
  color:#ffffff
}
.item5HOVER:hover{
  opacity: 1;
  transition: all ease-in 0.2s;
}

.item6{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid #ccc;
}
.item6HOVER{
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 595px;
  height: 188px;
  right: 118px;
  top: 715px;
  border-radius: 10px;
  background-color: #3484FA;
  color:#ffffff 
}
.item6HOVER:hover{
  opacity: 1;
  transition: all ease-in 0.2s;
}

/* ===== ¿Cómo se dan cuenta de qué quiero ===== */
.contenedorS3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 50px 0px 50px;
}
.iconosS3{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(4,1fr);
}
.foto0{
  display: grid;
  margin: 20px;
  place-content: end;
  grid-column-start: 1;
  grid-column-end: 1;  
}

.foto1{
  display: grid;
  place-items: center;
  grid-column-start: 2;
  grid-column-end: 1;  
}

.foto1GIF{
  opacity: 0;
  position: absolute;
  width: 160px;
  height: 160px;
  top: 290px;
}
.foto1GIF:hover{
  opacity: 1;
  position: absolute;
  width: 160px;
  height: 160px;
  top: 301px;
  transition: ease-in all 0.5s;
}
.foto2{
  display: grid;
  place-items: center;
  grid-column-start: 2;
  grid-column-end: 2;    
}
.foto2GIF{
  opacity: 0;
  position: absolute;
  width: 110px;
  height: 130px;
  top: 300px;
}
.foto2GIF:hover{
  opacity: 1;
  position: absolute;
  width: 110px;
  height: 130px;
  top: 316px;
  transition: ease-in all 0.5s;
}
.foto3{
  display: grid;
  place-items: center;
  grid-column-start: 1;
  grid-column-end: 2;  
}
.foto3GIF{
  opacity: 0;
  position: absolute;
  width: 145px;
  height: 140px;
  top: 473px;
}
.foto3GIF:hover{
  opacity: 1;
  position: absolute;
  width: 145px;
  height: 140px;
  top: 483px;
  transition: ease-in all 0.5s;
}
.foto4{
  display: grid;
  place-items: center;
  grid-column-start: 3;
  grid-column-end: 2;  
}
.foto4GIF{
  opacity: 0;
  position: absolute;
  width: 155px;
  height: 150px;
  top: 460px;
}
.foto4GIF:hover{
  opacity: 1;
  position: absolute;
  width: 155px;
  height: 150px;
  top: 475px;
  transition: ease-in all 0.5s;
}
.foto5{
  display: grid;
  place-items: baseline end;
  margin: 20px;
  grid-column-start: 3;
  grid-column-end: 2;  
}
/* ===== ¿Dónde se almacenan mis datos? ===== */
.contenedorS4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 50px 0px 50px;
}
.contenidoS4 {
  background-color: #ffffff;
  display: flex;
  color: black;
  padding: 10px 20px 50px 20px;
  width: 90%;
  text-align: center;
  margin: 15px;
  border-radius: 5px;
  flex-direction: column;
  align-content: center;
  gap: 10%;
  box-shadow: 0px 5px 10px gray;
  animation: fade-down 0.5s;
}
.gridS4{
  display: grid;
  grid-template-columns: 50% 50%;  
}
.subgrid{
  display: grid;  
  grid-template-rows: 15% 10% 55%;  
  place-content: center;
}
.botones{
  display: flex;
  gap: 20px;
  padding: 5px 0px 5px 0px;
  justify-content: baseline;
}
.botones button{
  font-family: "proximanova";
  background-color: #ffffff;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border-style: dotted;
}
.botones button:hover{
  font-family: "proximanova";
  background-color: #ffffff;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border-style: dotted;
  border: 2px solid #000;
}
.botones a{
  font-family: "proximanova";
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
/* ===== extra(?) ===== */
header {
  animation: fade-up 1s;
}

.tarjeta:hover {
  background-color: #3484fa;
  color: white;
  transform: translateY(-10px);
  transition: all 0.5s;
}

.bullets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 100px;

}

/* ===== Footer ===== */
.site-footer{
  background: #222;                 /* fondo general del footer */
       /* aire externo */
  color: #eaeaea;
}

.footer-card{
  max-width: 80rem;                 /* ancho similar a la captura */
  margin: 0 auto;           /* tarjeta más oscura */
  border-radius: .6rem;
  padding: 2.4rem;
  display: grid;
  grid-template-columns: 1.6fr 1fr; /* izquierda + derecha */
  gap: 2.4rem;
}

/* Columna izquierda */
.footer-left h3{
  font-size: 1.6rem;
  line-height: 1.2;
  margin: 0 0 1.2rem;
  font-weight: 700;
}
.miembros{
  list-style: none;
  margin: 0; padding: 0;
  font-size: 1.4rem;
}
.miembros li{
  margin: .4rem 0;
}

/* Columna derecha */
.footer-right{
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 1.2rem;
  text-align: center;
}
.footer-right h3{
  font-size: 1.6rem;
  line-height: 1.3;
  margin: 0;
  font-weight: 700;
}